@import 'abstracts/colors/colors.scss';
@import 'abstracts/mixins';

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include mobile {
    justify-content: flex-start;
  }
}

.container-menu-toggle {
  background-color: $background-color-cultured;
  border-style: none;
  border-radius: 12px;
  padding: 14px;
}

.container-search {
  background-color: $background-color-cultured;
  margin-left: 10px;
  border-radius: 12px;
  padding: 14px;
  position: relative;
  width: 100%;
  max-width: 399px;

  &__input {
    background-color: $background-color-cultured;
    border: 1px solid $background-color-cultured;
    outline: none;
  }
}

.container-search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.container-menu-toggle {
  display: none;

  @include mobile {
    display: block;
  }
}

.container-nav {
  display: block;
  margin-right: 16px;

  @include mobile {
    display: none;
  }
}

.container-nav-ul {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 34px;
  padding-left: 0;

  &__home {
    color: $text-color-giants-orange;
    font-size: 22px;
    font-weight: 700;
  }
}
