<article class="container-card">
  <div class="container-card-header">
    <img
      class="container-card-header__image"
      src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://d1i4t8bqe7zgj6.cloudfront.net/08-15-2023/t_c98e90d4f00e45eda1dd21fd4d233955_name_20230815_Ronny_Jackson_00_01_42_23_Still044.jpg"
      width="100%"
      alt="news" />
  </div>
  <div class="container-card-body">
    <h2 class="container-card-body__title">
      GOP Rep. Ronny Jackson tackled by officers during scuffle at rodeo, video
      shows - The Washington Post
    </h2>
    <p class="container-card-body__description">
      Jackson, a White House physician to Presidents Barack Obama and Donald
      Trump, berated Texas sheriff’s deputies when he was briefly detained while
      responding to a medical emergency.
    </p>
  </div>
  <div class="container-card-author">
    <div class="container-card-author__avatar">
      <img src="./assets/icons/avatar.png" alt="avatar" width="44px" />
    </div>
    <div class="container-card-author-data">
      <p class="container-card-author-data__name">John Doe</p>
      <p class="container-card-author-data__date">Hace 2 horas</p>
    </div>
  </div>
</article>
