@import 'abstracts/colors/colors.scss';
@import 'abstracts/mixins';

.container-footer {
  background-color: $background-color-cultured;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;

  @include tablet {
    padding: 16px 0;
  }

  &__home {
    color: $text-color-giants-orange;
    font-size: 22px;
    font-weight: 700;
  }
}

.container-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1491px;
  max-width: 1491px;
  margin: 0 auto;

  @include desktop {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}

.container-footer-copyright {
  display: block;

  @include desktop {
    display: none;
  }
}
