@import '../../../../styles/abstracts/colors/colors';
@import '../../../../styles/abstracts/mixins';

.container-footer {
  background-color: $background-color-cultured;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__home {
    color: $text-color-giants-orange;
    font-size: 22px;
    font-weight: 700;
  }
}

.container-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  @include tablet {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    padding: 16px 0;
  }
}

.container-footer-copyright {
  display: block;

  @include tablet {
    display: none;
  }
}
